body {
    background-image: url(https://i.pinimg.com/736x/73/ee/5f/73ee5f7c266cf47e8544eb0d9fda87a5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed; 
}  



.form-container {
max-width: 500px;
margin: 50px auto;
padding: 35px;
background: white;
border-radius: 20px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}

.form-container h1{
    color: #ff508b;
}

.form-container h1 {
margin-bottom: 10px;
}

.form-container p.description {
color: #666;
margin-bottom: 30px;
}

.form-group {
text-align: left;
margin-bottom: 20px;
}

.form-group label {
font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group select {
width: 100%;
height: 46px;
padding: 0 15px;
margin-top: 7px;
border: 1px solid #ccc;
border-radius: 10px;
box-sizing: border-box;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
background: #fff;
transition: border-color 0.2s, box-shadow 0.2s;
}
/* .form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group select {
width: 100%;
padding: 12px 15px;
margin-top: 7px;
border: 1px solid #ccc;
border-radius: 10px;
box-sizing: border-box;
font-size: 16px;
} */

.form-group select {
    padding-right: 20px;
}

.form-group input:focus {
outline: none;
border-color: #ff70ab;
}

.speciality {
margin-top: 10px;
}

.speciality label {
font-weight: normal;
margin-left: 5px;
}

.speciality input {
    margin-bottom: 20px;
}

.form-button {
margin-bottom: 5px;
width: 100%;
padding: 13px;
border: none;
border-radius: 10px;
background: #f577ab;
color: white;
font-size: 16px;
cursor: pointer;
}

.form-button:hover {
background: #df618b;
}

.clear-button {

width: 100%;
padding: 13px;
border: none;
border-radius: 10px;
background: #ff72ad;
color: white;
font-size: 16px;
cursor: pointer;
}

.clear-button:hover {
background: #df618b;
}

.result {
margin-top: 25px;
padding: 20px;
background: #f5f5f5;
border-radius: 12px;
text-align: left;
white-space: pre-line;
}

.student-card{
    display: none;
    margin-top: 25px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.student-card-header{
    margin-bottom: 20px;
}

input[type="radio"] {
  accent-color: pink; 
}


.status{
    margin-top: 15px;
    padding: 12px 15px;
    text-align: center;
    color: #ff508b;
}